  body{
  background-color: #FF0080;
  font-family: "Helvetica";

}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #34DDDD;
    }
::-webkit-scrollbar-thumb {
    background:  #003366;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
.txtpp{
  margin-left: 40px;
}
.navbar.navbar-default{
  background-color: transparent;
  height:;
  border:0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #EB0177;
  font-family: 'Nunito', serif;
  font-size:18px;
  color:#9C0063;

}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    color:#fbfbfb;
}

.navbar-default .navbar-nav>li>a{
    color:#fbfbfb;
}

.navbar-header>a{
  font-size:22.5px;
}
li>a{
  font-size: 22.5px;
}
.exampl{
  max-width: 10;
  max-height:10;
}
.page-start{
  background-color: #fbfbfb;
  border:1px solid #efefef;
}

.splash-screen {
 color: rgb(255, 255, 255);
    position: relative;
    min-height: 250px;
    border-bottom: #EB0177;
    padding-top: 4em;
    background-color: #FF0080;
    background: url("test2.JPG") no-repeat scroll 0px 100% / cover transparent;
    box-shadow: 0 10px rgb(255, 219, 219);

}

.tag-line{
  color:#FAE0E0;
  font-family: "Bevan",'Didact Gothic', sans-serif;
  font-size:80px;
  text-shadow: 4px 3px 0px #, 9px 8px 0px rgba(0, 0, 0, 0.15);
}


.tag-line2{
	 color:#FAE0E0;
	 font-family: 'Didact Gothic',"Merriweather Sans","Bevan" sans-serif;
	 font-size:50px;
	 text-shadow: 0 0 1px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.3);
}
.col-md-8 .col-md-offset-2{
  padding-left: 15px;
  margin-left:20%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.main-content.doc{
  background-color: #ffeded;
    -webkit-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 3px rgba(117, 5, 61, 0.4);
  font-family: "Roboto";
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}
#tag-line{
  font-family: "Frutiger,Lato";
  color:#fff;
}

.current{
  background-color: #FF0080;
}

.footer{
  height:200px;
  background-color: #FF0080;
  margin-top: 10px;
  color:#fff;
}

.footer-info{
  color:#F2A1F4;

}

.quotetype{
  font-family: 'Lobster',cursive;
  color: #FF0A85;
  font-size: 30px;  `

}
.frontcontent{
  margin-bottom: 20px;
}
blockquote {
  border-left: 10px solid #FF0A85;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #FF0A85;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;@
}
#quotesource{
  color:#FF0A85;
  font-size:15px;
}
.row.fixed{
  margin-right: 0px;
}

.row.test1{
  margin-top:20px;
}
.col-md-2>p{
	color:#F2A1F4
}
p {
    margin: 0 0 0px;
}
a{
  color:#F2A1F4;
}

 @media(min-width:992px) {
    .footer-info {
      margin-top:40px;
     }
#adress{margin-top:40px}
     }
 @media(max-width:768px){
   .footer-info {
    margin-top:10px;
  }
  }


    @media (max-width:767px) {
    .footer-info {
    margin-top:0px;
  }
  }

  #slider1_container{
     -webkit-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.75);
  }
  .col-md-8>#slider1_container{
    margin-top: 20px;
  }
  h3{
  font-family: 'PT Serif', serif;
  }


div.first.light{
  margin-top: 10px;
}

.light{
  cursor: pointer;
} 

.light:hover{
  border:1px solid  #FF0080;
}

.dark{
  background-color: #FFDBDB;
}
<<<<<<< HEAD
.row1{
	border-style:solid;
	border-width:6px;
	border-top-width:25px;
	border-color:#FF0F0F;
}
.row1header{
	border-bottom-style: solid;
	border-color:#FF0F0F;
}
.row1header>p{
	margin-left:30px;
}
=======

.item{
  quotes: "\201C""\201D""\2018""\2019";
}
>>>>>>> origin/Homepage
